.page{
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    background-color: mediumaquamarine;
}
.h1{
    text-align: center;
    font-weight: bold;
    font-size:40px;
}
.title{
    background-color: lightskyblue;
}
.h2{
    font-size: 35px;
    color: red;
    background-color: lightgreen;
    text-align: center;
}
.list{
    text-align: left;
    color:green;
    display: block;
    font-size: 20px;
}
.link{
    font-size: 20px;
    color: green;
    display: block;
    text-align: center;
}
img{
    display:block;
    border-radius:8px;
    margin: auto;
}